:root {
    --background-color: #FFDE06;
    --font-color: #921C82;
    --contrast-color-1: #009E38;
    --contrast-color-2: #E10715;
    --contrast-color-3: #5BA5DF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

header {
    padding: 0px 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: 0px 10px 50px 0px rgba(34,34,34,0.3);
    margin-bottom: 30px;
}

header img {
    height: 60px;
}

header div {
    margin-left: auto;
    display: flex;
}

header div a, .home-options a  {
    font-weight: 800;
    text-decoration: none;
    color: #222;
}

header div a:not(:last-of-type) {
    padding-right: 50px;
}

main h1 {
    margin-top: 5vh;
    margin-bottom: 0vh;
    text-align: center;
}

main > p {
    margin-bottom: 2vh;
    margin-top: 0vh;
    text-align: center;
}

.home-options {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.home-options a {
    padding: 20px 30px;
    margin: auto;
    width: fit-content;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
}

.home-options a:hover {
    background-color: red;
    color: white;
}

.home-options a:not(:last-of-type) {
    margin-bottom: 30px;
}

section > article {
    background-color: transparent;
    width: 300px;
    height: 400px;
}
  
section > article > a > div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.sampleBooks > article:hover > a > div {
    transform: rotateY(180deg);
}
  
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front img {
    width: 300px;
    height: 400px;
    border-radius: 5px;
}
  
.back {
    background-color: var(--background-color);
    color: var(--font-color);
    transform: rotateY(180deg);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
}

.yourBooks {
    margin: 0vh 10vw 0px 10vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.yourBooks article {
    flex: 0 0 auto;
    height: calc(400px + 22px);
}

.yourBooks article > p {
    margin: 0;
}

.yourBooks article:not(:last-child) {
    margin-right: 30px;
}

.yourBooks article:last-child {
    margin-right: 10vw;
}

.sampleBooks {
    margin: 0vh 10vw 0px 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sampleBooks article {
    margin-bottom: 30px;
}

article[recommend=on] {
    opacity: 1;
}

article[recommend=off] {
    opacity: .3;
}

.orient-genre {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 10vw;
}

.orient-genre a {
    display: block;
    width: 45%;
    padding: 50px 20px;
    margin: 2.5vw 2.5vh;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 24px;
    color: #222;
    font-weight: 800;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
}

.orient-genre a:hover {
    background-color: red;
    color: white;
}

.book-detailpage {
    display: flex;
    width: 80vw;
    margin: 100px auto 0px;
}

.book-detailpage div {
    width: 50vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}

.book-detailpage img {
    width: 25vw;
}

.book-detailpage h3 {
    margin-top: 0px;
}

.book-detailpage p {
    margin: 8px 0px 0px 0px;
}

.book-detailpage p:last-of-type {
    align-self: flex-end;
    margin-top: auto;
}